@model IEnumerable<AlquilerVideo.Models.Transaccion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaTransaccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaRegreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoMovimiento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaTransaccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaRegreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoMovimiento)
            </td>
            <td>
                @Html.ActionLink("Ver Peliculas", "LasPeliculas", new { id = item._id.ToString() })
            </td>
        </tr>
    }

</table>
