@model IEnumerable<AlquilerVideo.Models.Transaccion>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Transacciones";
}

<br />
<br />

@using (Html.BeginForm())
{
    string elSearchString = string.Empty;
    if (!string.IsNullOrEmpty(ViewBag.SearchString))
    {
        elSearchString = ViewBag.SearchString;
    }
    <p>
        Buscar: @Html.TextBox("SearchString",
       elSearchString, new { @placeholder = "..........." } )
        <input type="submit" value="Search" />
    </p>
}
    <br />
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Fecha transaccion
            @*@Html.ActionLink("Fecha Transaccion", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })*@
        </th>
        <th>
            Fecha regreso
        </th>
        <th>
            Tipo movimiento
            @* @Html.ActionLink("Tipo de movimiento", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaTransaccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaRegreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoMovimiento)
            </td>
            <td>
                @Html.ActionLink("Ver Peliculas", "LasPeliculas", new { id = item._id.ToString() })
            </td>
        </tr>
    }

</table>

